/* body {
    background-color: lightyellow;
} */

#body {
    text-align: center;
    background-color: lightyellow;
}

.devour-button {
    float: right;
}

button:hover {
    background-color: lightgrey;
}

button:active {
    background-color: grey;
}





