/* body {
    background-color: lightyellow;
} */

#body {
    text-align: center;
    background-color: lightyellow;
}

.devour-button {
    float: right;
    height: 50px;
}
/* 
button:hover {
    background-color: lightgrey;
}

button:active {
    background-color: grey;
} */

.card {
    margin-top: 30px;
}

#undevouredListStyle {
    border-style: solid; 
    border-color: black;
    border-width: thin;
    border-radius: 3px;
}

#devouredListStyle {
    border-style: solid; 
    border-color: grey; 
    color:grey;
    border-width: thin;
    border-radius: 3px;
}

li {
    height: 50px;
}





