<li>
	{{burger_name}}
    
    {{#unless devour}}
        <button class="btn btn-secondary devour-button shadow" data-id="{{id}}" data-newdevour="{{devoured}}"> 
            DEVOUR IT!
        </button>
    {{/unless}}

</li>